body {
}

.phone {
    margin-left: auto;
    margin-right: auto;
	display: table;
	overflow: auto;
    background-color: #e72222;
}

.button-container {
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}

#easy-button {
	vertical-align: middle;
}